@media (max-width: 960px) {
    .container , .exibicaoTarefas {
        width: 80vw;
    }
    .container-tarefas {
        flex-direction: column;
        align-items: flex-start;
    }
    .container-texto {
        margin-bottom: 30px;
    }
    .input-editar {
        margin-top: 50px;
    }
}
