* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}


body {
    background-color: rgb(37, 37, 37);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container-add-tarefas {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}
.container-add-tarefas , .exibirTarefas {
    width: 47vw;
}
.input-add-tarefa , .input-editar-tarefa{
    border-radius: 2px;
    width: 100%;
    padding: 10px;
    margin-right: 20px;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: rgba(255, 255, 255, 0.062);
    border-color: rgb(138, 43, 226);
    color: #fff;
    font-size: 1.6rem;

}

.input-add-tarefa ::placeholder {
    color: #fff;
    font-size: 1.6rem;
}
.input-add-tarefa :focus {
    border-color: rgb(210, 133, 255);
    transition: border 1s ease-in-out;  
}
.input-add-tarefa, button {
    height: 50px;
}
button {
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 190px;
    cursor: pointer;
    background-color: rgb(138, 43, 226);
    font-size: 1.6rem;
    box-sizing: border-box;
    padding: 10px 0;
}


.exibirTarefas {
    background-color: rgba(255, 255, 255, 0.062);
    margin-top: 3rem;
    padding: 20px 30px;
}
.exibirTarefas ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}
.exibirTarefas li {
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    border-bottom:  1px solid #fff;
    margin-bottom: 30px;
    padding: 30px 0;
}


.container-tarefas {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.tarefas {
    font-size: 2rem;
}
.container-tarefas-btn button {
    width: 80px;
}
.container-tarefas-btn {
    display: flex;
    justify-content: flex-end;
}
.btn-deletar-tarefa{
    width: 72%;
    font-size: 1.6rem;
}





.btn-editar {
    margin-right: 15px;
    
}
.container-editar-tarefa {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}
.input-editar-tarefa {
    margin-top: 50px;
    font-size: 1.6rem;
    width: 60%;
}

.btnSalvar, .btnDescartar {
    height: 40px;
    width: 15%;
    font-weight: bolder;
}
.btnSalvar {
    background-color: lightseagreen;
    font-weight: bolder;
}
.btnDescartar {
    background-color: lightcoral;
}
.tarefa-concluida {
    text-decoration: line-through;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}